@model MvcMoviw.Models.Todo

<!-- @using(var form = Html.BeginForm()) {
    <div>
        @Html.LabelFor(m => m.title)
        @Html.TextBoxFor(m => m.title)
        @Html.ValidationMessageFor(m => m.title)
    </div>
    <div>
        @Html.LabelFor(m => m.description)
        @Html.TextBoxFor(m => m.description)
        @Html.ValidationMessageFor(m => m.description)
        </div>
    <input type="submit" value="Submit" />
} -->

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Create Todo</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="title"></label>
			<input asp-for="title" class="form-control" />
			<span asp-validation-for="title" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="description"></label>
			<input asp-for="description" class="form-control" />
			<span asp-validation-for="description" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Create</button>
	</div>
</form>